@using AhmedTrading.Repository
@model PaymentReceiptModel
@{
    ViewData["Title"] = "Selling Receipt Multiple";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/multiReceipt.css" rel="stylesheet" />
}

<section class="my-4 d-print-none">
    <div class="d-flex justify-content-between">
        <a class="btn btn-light-blue btn-rounded" href="/Selling/Selling"><i class="fas fa-shopping-cart mr-1"></i>Sell</a>
        <button class="btn btn-blue-grey btn-rounded" onclick="print()"><i class="fas fa-print mr-1"></i>Print</button>
    </div>
</section>

<div id="main-page">
    <div id="institution-info" class="mb-4 text-center">
        <h3 class="mb-2">
            @Model.InstitutionInfo.InstitutionName
        </h3>
        <p><i class="fas fa-map-marker-alt mr-1"></i>@Model.InstitutionInfo.Address</p>
        <p><i class="fas fa-globe mr-1"></i>@Model.InstitutionInfo.Website, <i class="fas fa-at mr-1"></i>@Model.InstitutionInfo.Email</p>
        <p><i class="fas fa-phone mr-1"></i>@Model.InstitutionInfo.Phone</p>
    </div>

    <div class="row mb-4 receipt-date">
        <div class="col pt-3">
            RECEIPT# @Model.ReceiptSn
        </div>
        <div class="col text-center">
            <h5>INVOICE</h5>
        </div>
        <div class="col text-right col pt-3">
            Paid Date: @Model.PaidDate.ToString("d MMM yyyy")
        </div>
    </div>

    <div id="vendor-area" class="row">
        <div class="col">
            <h5>Name: <strong>@Model.CustomerInfo.CustomerName</strong></h5>
        </div>
        <div class="col text-right">
            <h5>Phone: <strong>@Model.CustomerInfo.CustomerPhone</strong></h5>
            <h5>Address: <strong>@Model.CustomerInfo.CustomerAddress</strong></h5>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 30px"><strong>No.</strong></th>
                <th><strong>Selling Date</strong></th>
                <th><strong>Bill No.</strong></th>
                <th><strong>Amount</strong></th>
                <th><strong>Paid</strong></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 0;
                foreach (var item in Model.Invoices)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@item.SellingDate.ToString("d MMM yyyy")</td>
                        <td><a href="/Selling/SellingReceipt/@item.SellingId" target="_blank">@item.SellingSn</a></td>
                        <td>@item.SellingAmount/-</td>
                        <td>@item.SellingPaidAmount/-</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="4">
                    <span id="amount-word"></span>
                </td>
                <td>
                    <div class="text-right">
                        <h5>Total Paid: <strong>@Model.PaidAmount/-</strong></h5>
                        <h5>Payment Method: <strong>@Model.PaymentMethod</strong></h5>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    @*<div class="p-footer mt-4">
        <div class="row">
            <div class="col">
                Received By
                <small class="d-block text-muted">@DateTime.Now.ToString("ddd, dd-MMM-yyyy (hh: mm tt)")</small>
            </div>
            <div class="col text-center font-weight-bold">
                Thank you for your business!
            </div>

            <div class="col text-right">
                For: <strong>@Model.InstitutionInfo.InstitutionName</strong>
                <small class="d-block text-muted">Served By: <strong>@Model.CollectBy</strong></small>
            </div>
        </div>
    </div>*@
</div>

@section scripts{
    <script src="~/js/amount-in-word.js"></script>
    <script>
        $(function() {
            $("#amount-word").text(`Taka (in word): ${number2text(@Model.PaidAmount).toLowerCase()}`);
        });
    </script>
}
