@using AhmedTrading.Repository
@model SellingReceiptViewModel
@{
    ViewData["Title"] = "Selling Receipt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/selling-receipt.css?v=1.5" rel="stylesheet" />
}

<div class="container">
    <section class="my-4 d-print-none">
        <div class="d-flex justify-content-between">
            <a class="btn btn-success btn-rounded" href="/Selling/Selling"><i class="fal fa-cart-plus mr-1"></i>Selling</a>
            <div>
                <button class="btn btn-elegant btn-rounded" onclick="print()"><i class="fal fa-print mr-1"></i>Print</button>
            </div>
        </div>
    </section>

    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="text-right" style="width: 50px"><strong>Name</strong></td>
                <td>@Model.CustomerInfo.CustomerName</td>
                <td class="text-right" style="width: 50px"><strong>Bill&nbsp;No</strong></td>
                <td style="width: 90px">@Model.SellingSn</td>
            </tr>
            <tr>
                <td class="text-right"><strong>Address</strong></td>
                <td>@Model.CustomerInfo.CustomerAddress</td>
                <td class="text-right"><strong>Date</strong></td>
                <td>@Model.SellingDate.ToString("d MMM yyyy")</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="text-right"><strong>Cell</strong></td>
                <td>@Model.CustomerInfo.CustomerPhone</td>
            </tr>
        </tbody>
    </table>

    <table class="product-tb table table-sm table-bordered mt-5">
        <thead>
            <tr>
                <th><strong>SL.</strong></th>
                <th><strong>Product</strong></th>
                <th><strong>Quantity</strong></th>
                <th><strong>U.Price</strong></th>
                <th><strong>Line Total</strong></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
                foreach (var item in Model.Products)
                {
                    <tr>
                        <td class="text-center">@index</td>
                        <td>
                            <strong>@item.BrandName</strong>
                            <p class="mb-0">@item.ProductName</p>
                        </td>
                        <td class="text-center">@item.SellingQuantity</td>
                        <td class="text-right">@item.SellingUnitPrice/-</td>
                        <td class="text-right">@item.SellingPrice/-</td>
                    </tr>
                    index++;
                }
            }
            <tr>
                <td colspan="4" class="text-center">
                    <span id="amount-word"></span>
                </td>
                <td class="text-right">
                    @if (Model.SellingDiscountAmount > 0)
                    {
                        <h5>Discount:<strong>৳@Model.SellingDiscountAmount</strong> </h5>
                    }
                    <h5>Total Amount:<strong>৳@Model.SellingTotalPrice</strong> </h5>
                    <h5>Paid:<strong>৳@Model.SellingPaidAmount</strong> </h5>
                    <h5>Due:<strong>৳@Model.SellingDueAmount</strong> </h5>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="paid-record">
        @if (Model.Payments.Count > 0)
        {
            <fieldset class="border p-2">
                <legend>Paid Record</legend>

                @foreach (var item in Model.Payments)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>৳@item.PaidAmount/- <small>@item.PaymentMethod</small></span>
                            <small>@item.PaidDate.ToString("d MMM yyyy")</small>
                        </li>
                    </ul>

                }
            </fieldset>

        }
    </div>
</div>

    @section scripts{
        <script src="~/js/amount-in-word.js"></script>
        <script>
        $(function() {
            $("#amount-word").text(`Taka (in word): ${number2text(@Model.SellingTotalPrice).toLowerCase()}`);
        });
        </script>
    }
