@using AhmedTrading.Repository
@model CustomerProfileViewModel

@{
    ViewData["Title"] = "Customer Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .list-group li strong { color: #777 }
        .list-group li span { margin-left: 8px; color: #000; }
    </style>  
}

<div class="m-md-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h4 class="page-header m-0">@Model.CustomerName</h4>
            <h6 class="mb-0 mt-2">
                @if (Model.CustomerAddress != null)
                {
                    <span>@Model.CustomerAddress,</span>
                }

                @foreach (var item in Model.PhoneNumbers)
                {
                    <span class="mr-1 badge-pill badge-primary">@item.Phone</span>
                }
            </h6>
        </div>

        <div class="md-form input-with-post-icon m-0">
            <input id="inputCustomer" type="text" class="form-control" autocomplete="off" />
            <i class="far fa-search input-prefix"></i>
            <label for="inputCustomer">Find Customer</label>
        </div>
    </div>  

    <section class="mb-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="far fa-money-bill-alt fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>sold</small></p>
                        <h5 class="font-weight-bold mb-0">@Model.SoldAmount</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="fas fa-chart-pie-alt fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>discount</small></p>
                        <h5 class="font-weight-bold mb-0">@Model.DiscountAmount</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="fas fa-chart-line fa-lg teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>paid</small></p>
                        <h5 class="font-weight-bold mb-0">@Model.ReceivedAmount</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="far fa-chart-line-down fa-lg pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>due</small></p>
                        <h5 class="font-weight-bold mb-0">@Model.DueAmount</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><strong>#Bill No</strong></th>
                        <th><strong>Amount</strong></th>
                        <th><strong>Discount</strong></th>
                        <th><strong>Paid</strong></th>
                        <th><strong>Due</strong></th>
                        <th><strong>Date</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SellingRecords)
                    {
                        <tr>
                            <td>
                                <a class="blue-text" href="/Selling/SellingReceipt/@item.SellingId">@item.SellingSn</a>
                            </td>
                            <td>৳@item.SellingAmount</td>
                            <td>৳@item.SellingDiscountAmount</td>
                            <td>৳@item.SellingPaidAmount</td>
                            <td>৳@item.SellingDueAmount</td>
                            <td>@item.SellingDate.ToString("d MMM yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>     
    </section>    
</div>

@section Scripts{
    <script>
        //customer autocomplete
        $('#inputCustomer').typeahead({
            minLength: 1,
            displayText: function(item) {
                return `${item.CustomerName} ${item.PhonePrimary ? item.PhonePrimary : ''} ${item.OrganizationName ? item.OrganizationName : ''}`;
            },
            afterSelect: function(item) {
                this.$element[0].value = item.CustomerName
            },
            source: function(request, result) {
                $.ajax({
                    url: "/Selling/FindCustomers",
                    data: { prefix: request },
                    success: function(response) { result(response); },
                    error: function(err) { console.log(err) }
                });
            },
            updater: function(item) {
                location.href=`/Customer/Details/${item.CustomerId}`
                return item;
            }
        })
    </script>
}
