@using AhmedTrading.Repository
@model IEnumerable<VendorAdvanceRecordViewModel>

@{
    ViewBag.Title = "Vendor Advance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class=" m-md-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h4 class="page-header mb-2">Vendor Advance</h4>
            <p>@ViewBag.VendorInfo.VendorCompanyName, @ViewBag.VendorInfo.VendorPhone, <strong>@ViewBag.VendorInfo.Advance/-</strong></p>
        </div>
        <div class="col text-right">
            <a id="CreateClick" data-url="/VendorAdvance/Create" class="btn-floating blue-bg-btn" title="Add New" data-toggle="modal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="card card-body">
        <table id="data-table" class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>Advance</th>
                <th>Advance Date</th>
                <th>Payment Method</th>
                <th>Details</th>
                <th style="width:50px">Delete</th>
            </tr>
            </thead>
            <tbody id="table-row">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AdvanceDate.ToString("d MMM yyyy")</td>
                    <td class="text-right">@item.Advance/-</td>
                    <td>@item.PaymentMethod</td>
                    <td class="text-left">@item.AdvanceDetails</td>
                    <td><a class="fas fa-trash-alt delete" href="/VendorAdvance/Delete/@item.VendorAdvanceId"></a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<!-- Insert Modal -->
<div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-hidden="true"></div>

@section Scripts {
    <partial name="_UnobtrusiveAjaxPartial"/>
    <script>
        //Insert
        $("#CreateClick").on("click", function() {
            $.get($(this).data("url"), function(data) {
                $('#InsertModal').html(data).modal('show');

                $("#hiddenVendorId").val(@ViewBag.VendorInfo.VendorId);
            });
        });

        function onCreateSuccess(data) {
            if (!data.Status) {
                $('#InsertModal').html(data);
                return;
            }

            $('#InsertModal').html(data).modal('hide');
            location.reload();
        }

        //Delete click
        $('#data-table').on("click", ".delete", function(evt) {
            evt.preventDefault();

            var row = $(this).closest("tr");
            var btnDelete = $(this);
            const url = $(this).attr('href');

            $('#table-row em').remove();
            $('#table-row tr').removeClass("error-color");

            if (!url) return;

            if (confirm("Are you sure you want to delete?")) {
                $.post(url, function (response) {
                    console.log(response)
                    if (response === -1) {
                        row.addClass("error-color").after('<em class="used-error">This data already used in others place</em>');
                        btnDelete.removeAttr("href");
                        return;
                    }
                    row.hide();
                    location.reload();
                });
            }
        });
    </script>
}

